{% include 'header.html' %}

<section class="section">
    <div class="container">
        <h4>Lista de Envíos</h4>

        <a href="{{ url_for('envio_registro') }}" class="btn btn-success mb-3">
            <i class="bx bx-plus-medical label-icon"></i> Crear Envío
        </a>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Remitente</th>
                    <th>Destinatario</th>
                    <th>Fecha de Envío</th>
                    <th>Número de Guía</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for envio in envios %}
                    <tr>
                        <td>{{ envio.id }}</td>
                        <td>{{ envio.origen_codigo }}</td>
                        <td>{{ envio.destino_codigo }}</td>
                        <td>{{ envio.remitente }}</td>
                        <td>{{ envio.destinatario }}</td>
                        <td>{{ envio.fecha_envio }}</td>
                        <td>{{ envio.numero_guia }}</td>
                        <td>{{ envio.estado }}</td>
                        <td>
                            <a href="{{ url_for('editar_envio', id=envio.id) }}" class="btn btn-info">Editar</a>
                            <form action="{{ url_for('eliminar_envio', id=envio.id) }}" method="POST" style="display:inline;" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este envío?');">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8" class="text-center">No hay envíos registrados</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% include 'footer.html' %}