{% if usuario.tipo_usuario == 'ADMIN'%}
{% include 'header-admin.html' %}
{%else%}
{% include 'header-usuario.html' %}
{%endif%}

    <div class="container mt-5">
        <h2>Editar Envío</h2>
        
        <form action="{{ url_for('editar_envio', id=envio.id) }}" method="POST">
            <div class="mb-3">
                <label for="remitente" class="form-label">Remitente:</label>
                <input type="text" class="form-control" id="remitente" name="remitente" value="{{ envio.remitente }}" required>
            </div>
            <div class="mb-3">
                <label for="destinatario" class="form-label">Destinatario:</label>
                <input type="text" class="form-control" id="destinatario" name="destinatario" value="{{ envio.destinatario }}" required>
            </div>
            <div class="mb-3">
                <label for="origen" class="form-label">Origen:</label>
                <select class="form-select" id="form-origen" name="origen_id" required>
                    <option value="">Seleccione un origen</option>
                    {% for ciudad in ciudades %}
                        <option value="{{ ciudad.id }}" {% if ciudad.id == envio.origen_id %}selected{% endif %}>
                            {{ ciudad.nombre }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="destino" class="form-label">Destino:</label>
                <select class="form-select" id="form-destino" name="destino_id" required>
                    <option value="">Seleccione un destino</option>
                    {% for ciudad in ciudades %}
                        <option value="{{ ciudad.id }}" {% if ciudad.id == envio.destino_id %}selected{% endif %}>
                            {{ ciudad.nombre }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="fecha_envio" class="form-label">Fecha de Envío:</label>
                <input type="date" class="form-control" id="fecha_envio" name="fecha_envio" value="{{ envio.fecha_envio }}" required>
            </div>
            <div class="mb-3">
                <label for="numero_guia" class="form-label">Número de Guía:</label>
                <input type="text" class="form-control" id="numero_guia" name="numero_guia" value="{{ numero_guia }}" readonly>
            </div>
            
            <div class="mb-3">
                <label for="estado" class="form-label">Estado:</label>
                <select class="form-select" id="estado" name="estado" required>
                    <option value="En proceso" {% if envio.estado == "En proceso" %}selected{% endif %}>En proceso</option>
                    <option value="Entregado" {% if envio.estado == "Entregado" %}selected{% endif %}>Entregado</option>
                    <option value="Cancelado" {% if envio.estado == "Cancelado" %}selected{% endif %}>Cancelado</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>


{% include 'footer.html' %}